<div th:fragment="head">
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo animate__animated animate__fadeIn">15999</a>
            <div class="nav-links">
                <a href="/" class="nav-link active">Главная</a>
                <a href="/works" class="nav-link">Проекты</a>
                <a href="/login" class="nav-link">Авторизация</a>
                <a href="https://t.me/nnn_15999" class="nav-link telegram-link" target="_blank">
                    <span>Связаться</span>
                    <svg class="telegram-icon" viewBox="0 0 24 24">
                        <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.894 8.221l-1.97 9.28c-.145.658-.537.818-1.084.508l-3-2.21-1.446 1.394c-.14.18-.357.295-.6.295-.002 0-.003 0-.005 0l.213-3.054 5.56-5.022c.24-.213-.054-.334-.373-.121l-6.869 4.326-2.96-.924c-.64-.203-.658-.64.135-.954l11.566-4.458c.538-.196 1.006.128.832.941z"/>
                    </svg>
                </a>
            </div>
        </div>
    </nav>
</div>